header {
  margin: 0px auto;
  text-align: center;
}

body {
  background: white;
}

table {
  border: 1px solid black;
  margin: 0 auto;
}

.card {
  height: 180px;
  width: 120px;
  border: 1px solid black;
  text-align: center;

}

#start{
  margin:  0 auto;
  width: 50px;

}

#player_one{
  border: 1px solid black;
  height: 400px;
  width: 240px;
  float: left;
  left: 40%;
}

#player_two{

  border: 1px solid black;
  height: 400px;
  width: 240px;
  float: right;
  right: 20%;
}

#turnText{
  clear: both;
  border: 1px solid black;
  height: 30px;
  width: 100px;
  margin: 0 auto
}

#reset{
  clear: both;
  text-align: center;
}

.card {
  background-color: blue
  /*background-image: url(../images/back_image.jpg);*/
}

.resetted{
  background-color: blue;
  height: 180px;
  width: 120px;
  border: 1px solid black;
  text-align: center;
}

