header {
  margin: 0px auto;
  text-align: center;
}

body {
  background-color: #E62645;
  font-family: 'Varela Round', sans-serif;
}

#player_one{
  
  height: 600px;
  width: 260px;
  float: left;
  left: 40%;
  text-align: center;
  background-color: #FADBB9;
  border-radius: 10px
}

/*img{
  max-height: 99%;
  max-width: 99%;
}*/

#player_two{

  
  height: 600px;
  width: 260px;
  float: right;
  right: 20%;
  text-align: center;
  background-color: #FADBB9;
  border-radius: 10px
}

table {
  /*border: 1px solid black;*/
  margin: 0 auto;
}

.card {
  height: 180px;
  width: 120px;
  border-radius: 10px;
  /*border: 1px solid black;*/
  text-align: center;
  background-image: url(../images/back_image.jpg);
  background-size: 99%;


}

h1{
  text-align: center;
}

h2{
  text-align: center;
}
#start{
  margin:  0 auto;
  width: 50px;
}



#turnText{
  clear: both;
  border: 1px solid black;
  height: 30px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

#reset{
  clear: both;
  text-align: center;
}


